<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment %>
</p>

<p>
  <strong>Delivery guy:</strong>
  <%= @order.delivery_guy %>
</p>

<p>
  <strong>Fare:</strong>
  <%= @order.fare %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
