<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @order.address.street %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment %>
</p>

<p>
  <strong>Delivery guy:</strong>
  <%= @order.delivery_guy %>
</p>

<p>
  <strong>Fare:</strong>
  <%= number_to_currency(@order.fare, :unit => '$') %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
