<div class="row panel" data-params="one">
  <%= simple_form_for(@unit) do |f| %>
    <% if @unit.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <h2 class="alert-title">Sorry, <%= pluralize(@unit.errors.count, 'error') %> prohibited this discount from being saved:</h2>
          <ul class="alert-list">
            <% @unit.errors.full_messages.each do |message| %>
                <li><strong>*</strong> <%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <label><%= 'Name' %>:</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label><%= 'Description' %>:</label>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
