<div class="nested-fields">
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, id: :address_address %>
  </div>

  <div class="field">
    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood, id: :address_neghborhood %>
  </div>

  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, id: :address_zip_code %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state, id: :address_state %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, id: :address_city %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number, id: :address_number %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note, id: :address_note %>
  </div>

  <% if controller_name == 'clients' %>
    <%= link_to_remove_association 'Remove', f,  data: {confirm: 'Are you Sure?'}, :class => 'btn btn-danger btn-lg' %>
  <% end %>
</div>
