<div class="row panel" data-params="one">
  <%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
        <h2 class="alert-title">Sorry, <%= pluralize(@product.errors.count, 'error') %> prohibited this discount from being saved:</h2>
        <ul class="alert-list">
          <% @product.errors.full_messages.each do |message| %>
              <li><strong>*</strong> <%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

    <div class="form-group">
      <label><%= 'Name' %>:</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label><%= 'Description' %>:</label>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label><%= 'Price' %>:</label>
      <%= f.number_field :price, class: 'form-control', :step => 0.5 %>
    </div>

    <div class="form-group">
       <label><%= 'Weight' %>:</label>
       <%= f.text_field :weight, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.select :unit_id, @units.collect { |u| [u.name, u.id] }, {:prompt => 'Select a Unit'}, :required => true, :class => 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
